:root {
    --Bright-orange: #e38826;
    --Dark-cyan: #006970;
    --Very-dark-cyan: #004241;
}

body {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}

.ctn-principal {
    width: 95%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.ctn-card {
    padding: 35px 55px;
}

.ctn-card img {
    width: 55px;
}

.ctn-card button {
    background: white;
    border: 0px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 0.3s;
    border: 2px solid hsl(0, 0%, 95%);
}

.ctn-card h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
}

.ctn-card p {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 24px;
    margin-bottom: 25px;
}

.card-1 {
    background: var(--Bright-orange);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-2 {
    background: var(--Dark-cyan);
}

.card-3 {
    background: var(--Very-dark-cyan);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-1 button {
    color: var(--Bright-orange);
}

.card-2 button {
    color: var(--Dark-cyan);
}

.card-3 button {
    color: var(--Very-dark-cyan);
}

@media (min-width: 1024px) {
    .ctn-principal {
        flex-direction: row;
    }
    .card-1 {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0px;
    }
    .card-3 {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
    .ctn-card p {
        margin-bottom: 65px;
    }
    .ctn-principal {
        width: 85%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0px;
        height: 440px;
        margin: auto;
    }
    .ctn-card button:hover {
        background: transparent;
        color: hsl(0, 0%, 95%);
    }
}

@media (min-width: 1366px) {
    .ctn-principal {
        width: 66%;
    }
    .ctn-card button {
        position: absolute;
        bottom: 40px;
    }
}